/* 1428px (Small Desktop) */
@media (max-width: 86rem) {
    .hero {
        width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* 1200px  (Landscape Tablet) */
@media (max-width: 75rem) {
    html {
        /* 9/16 = 0.5675 */
        font-size: 56.75%;
    }

    .hero {
        max-width: 100rem;
    }

    .main-nav-list {
        gap: 3.2rem;
    }


    .header {
        padding: 4.8rem;
    }


    .heading-secondary {
        font-size: 3.2rem;
    }

    .card--grid {
        column-gap: 3.2rem;
    }

    .section-testimonial {
        column-gap: 3.2rem;
    }

    .testimonial-container {
        padding: 4.8rem;
    }
}

/* 964px (Tablet) */
@media (max-width: 60rem ) {
    html {
        /*8px*/
        font-size: 50%;
    }

    .hero {

        grid-template-columns: 1fr;
    }

    .hero-text-box {
        text-align: center;
    }

    .delivered-meals {
        justify-content: center;
    }

    .img-box {
        text-align: center;
    }

    .hero-img {
        width: 60%;
    }

    .featured-in-header {
        margin-bottom: 3.2rem;
    }

    .logos img {
        width: 14rem;
    }

    .step-number {
        font-size: 6.4rem;
    }

    .step-header {
        font-size: 2.4rem;
    }

    .section-testimonial {
        grid-template-columns: 1fr;
    }

    .testimonial-text {
        font-size: 2rem;
    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }

    .plan-detail {
        margin-top: 6.4rem;
        font-size: 1.8rem;
    }

    .cta-container {
        grid-template-columns: 3fr 2fr;
        height: 100%;
    }


    .cta-content {
        padding: 1.6rem 3.2rem;
    }

    .cta-form {
        grid-template-columns: 1fr;
    }

    .btn--form {
        margin-top: 1.4rem;
    }

    /*    Mobile Nav */
    .header {
        position: relative;
    }

    .mobile-nav-btns {
        display: block;
        z-index: 1;
    }

    .nav-open .btn-menu {
        opacity: 0;
        display: none;
    }

    .nav-open .btn-close {
        opacity: 1;
        margin-bottom: 2.8rem;
    }

    .main-nav {
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.95);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .btn-menu {
        display: block;
    }

    .nav-open .main-nav {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        pointer-events: auto;
    }

    .main-nav-list {
        display: none;
    }

    .nav-open .main-nav-list {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
    }

    .nav-open .main-nav-item-link:link,
    .nav-open .main-nav-item-link:visited {
        font-size: 2.4rem;
        font-weight: 600;
    }
}


/*700/16 = 43 (Small Tablet) */
@media (max-width: 43rem) {
    .hero {
        max-width: 80%;
    }

    .heading-primary {
        font-size: 3.2rem;
    }

    .hero-description {
        font-size: 1.8rem;
        line-height: 1.6;
    }

    .logos img {
        width: 10rem;
    }

    .step-description {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .col-3, .col-4 {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 3.2rem;
    }

    .diet-plan {
        margin-top: 4.4rem;
        grid-column: 1/-1;
        justify-self: center;
    }

    .cta-container.col-2 {
        grid-template-columns: 1fr;
    }

    .cta-img {
        grid-row: 1;
    }

    .cta-content {
        padding: 3.2rem;
    }

    .footer--grid {
        grid-template-columns: repeat(6, 1fr);
        grid-row-gap: 4.4rem;
    }

    .footer-logo, .contact-us {
        grid-column: span 3;
        grid-row: 2;
    }

    .account, .company, .resource {
        grid-column: span 2;
    }

}