/************************************************/
/* Header */
/************************************************/
.header {
    background: #fdf2e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 0 6.4rem;
}

.logo {
    height: 2.2rem;
}

/************************************************/
/* Navigation */
/************************************************/

.main-nav-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    list-style: none;
}

.main-nav-item-link:visited,
.main-nav-item-link:link {
    text-decoration: none;
    color: #333333;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all .3s;
}

.main-nav-item-link:hover,
.main-nav-item-link:active {
    text-decoration: none;
    color: #cf711f;
}

.main-nav-item--cta:link,
.main-nav-item--cta:visited {
    padding: 1.2rem 2.4rem;
    background: #e67e22;
    color: #ffffff;
    border-radius: 9px;
}

.main-nav-item--cta:hover,
.main-nav-item--cta:active {
    background: #cf711f;
}

/************************************************/
/* Hero Section */
/************************************************/
.section-hero {
    background: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;

    padding: 0 3.2rem;
}


.hero-description {
    font-size: 2rem;
    margin-bottom: 4.8rem;
    line-height: 1.6;
}


.delivered-meals {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    margin-top: 5.2rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
    margin: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-number {
    font-size: 2rem;
    font-weight: 700;
    color: #cf711f;
}

.hero-img {
    width: 100%;
}

/********************************/
/* Featured In*/
/********************************/
.section-featured {
    padding: 4.8rem 0 4.8rem;
}

.featured-in-header {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
    text-transform: uppercase;
    color: #555;
    opacity: 0.8;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logos img {
    width: 18rem;
    filter: brightness(0%);
    opacity: 0.5;
}


/********************************/
/* How it work */
/********************************/
.section-how {
    padding: 4.2rem 0 9.6rem;
}

.subheading {
    margin-bottom: 6.4rem;
}

.subheading-badge {
    color: #cf711f;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    margin-bottom: 1.6rem;
    display: inline-block;
    text-transform: uppercase;
}


.step-number {
    color: #ccc;
    font-size: 9.6rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
    letter-spacing: 0.75px;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.6;
}

.step-img-box {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    position: relative;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    display: block;

    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.step-img-box::before {
    width: 60%;
    /*height*/
    padding-bottom: 60%;
    background: #fdf2e9;
    z-index: -2;
}

.step-img-box::after {
    width: 50%;
    /*height*/
    padding-bottom: 50%;
    background: #fae5d3;
    z-index: -1;
}

.step-img-box > img {
    width: 35%;
}

/*******************************/
/* Meals */
/*******************************/

.meal {
    background: #ffffff;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
    width: 32rem;
    transition: all 0.5s;
}

.meal:hover {
    transform: translateY(-1.6rem);
}

.meal > img {
    width: 100%;
}

.meal-header {
    padding: 3.2rem 3.2rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.tags {
    display: flex;
    gap: 1.6rem;
}

.tag {
    font-weight: 700;
    border-radius: 9px;
    font-size: 1.2rem;
    padding: .4rem .8rem;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.tag--vegetarian {
    background: #51cf66;
}

.tag--vegan {
    background: #94d82d;
}

.tag--paleo {
    background: #ffd43b;
}

.meal-heading {
    font-size: 2.4rem;
    letter-spacing: .8px;
    font-weight: 600;
    color: #404040;
}

.meal-attributes {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 1.6rem 3.2rem 4.8rem;
    list-style: none;
}

.meal-icon {
    color: #cf711f;
    font-size: 2.4rem;
    margin-right: 1.6rem;
}

.meal-attribute strong {
    font-size: 1.8rem;
    font-weight: 500;
}

.meal-attribute {
    font-size: 1.6rem;
}

.diet-plan {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.diet-heading {
    font-size: 3.2rem;
    font-weight: 700;
}

.diets {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.diet {
    font-size: 1.8rem;
    line-height: 1.6;
}

.list-icon {
    color: #cf711f;
    font-size: 2.4rem;
    margin-right: .8rem;
}

.see-recipe:link,
.see-recipe:visited {
    font-size: 1.8rem;
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 4px;
    transition: all 0.3s;
}

.see-recipe:hover,
.see-recipe:active {
    border-bottom: 1px solid transparent;
}


/*************************************/
/* Testimonial Section */
/*************************************/

.section-testimonial {
    display: grid;
    grid-template-columns:55fr 45fr;
    background: #fae5d3;
    column-gap: 4.8rem;
    align-items: center;
}

.testimonial-container {
    padding: 9.6rem;
}

.testimonial-container .subheading {
    margin-bottom: 9.6rem;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial img {
    width: 4.8rem;
    border-radius: 50%;
    margin-bottom: 3.2rem;
}

.testimonial-text {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    line-height: 2;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #999;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}


/***************************************/
/* Plan */
/***************************************/

.plan {
    padding: 3.2rem 4.6rem;
    font-size: 2rem;
    line-height: 1.8;
    border-radius: 11px;
}


.plan--complete {
    justify-self: start;
}

.plan-header {
    text-align: center;
    margin-bottom: 3.2rem;
}

.plan-type {
    font-size: 2.4rem;
    font-weight: 500;
    color: #cf711f;
}

.plan-price {
    font-size: 5rem;
    font-weight: 600;
    color: #333333;
}

.plan-price span {
    font-size: 3rem;
    margin-right: .4rem;
    font-weight: 400;
}

.plan-per-month {
    font-size: 1.4rem;
    color: #999;
    text-align: center;
}

.plan-body {
    padding: 3.2rem;
}

.plan-body p {
    margin-bottom: 1.6rem;
}

.plan-footer {
    display: flex;
    justify-content: center;
}

.plan-footer .btn {
    font-size: 2rem;
    padding: .8rem 3.2rem !important;
}

.plan--started {
    border: 2px solid #fdf2e9;
    justify-self: end;
}


.plan--complete {
    background: #fdf2e9;
    position: relative;
    overflow: hidden;
}

.plan--complete::after {
    content: "Best Value";
    text-transform: uppercase;
    position: absolute;
    top: 6%;
    right: -26%;
    background: #ffd43b;
    color: #333;
    font-weight: 600;
    padding: .6rem 2rem;
    font-size: 1.3rem;
    width: 30rem;
    text-align: center;
    transform: rotateZ(44deg);
}

.plan-detail {
    text-align: center;
    margin-top: 3.2rem;
    font-size: 1.4rem;
}


/*****************************************/
/* Feature */
/*****************************************/

.section-features {
    padding: 9.6rem;
}

.feature-icon {
    font-size: 3rem;
    margin-bottom: 3.2rem;
    background: #fdf2e9;
    border-radius: 50%;
    /* TODO: fix icon with appropriate with and height*/
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cf711f;
}

.feature-header {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    color: #333;
}

.feature-text {
    font-size: 1.6rem;
    line-height: 1.6;
}

/*****************/
/* Call to action*/
/*****************/


.cta-container {
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(to right bottom, #eb984e, #e67e22);
    height: 50rem;
}

.cta-container.row {
    grid-template-columns: 2fr 1fr;
}

.cta-img {
    height: 60rem;
    background: linear-gradient(
            to right bottom,
            rgba(235, 151, 78, 0.35),
            rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
    background-size: cover;
}

.cta-content {
    margin-top: 3.2rem;
    padding: 3.2rem 4.8rem;
}

.cta-header {
    color: #45260a;
    font-size: 4.4rem;
    letter-spacing: .6px;
    margin-bottom: 3.2rem;
}

.cta-text {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #45260a;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 1.6rem;
    margin-top: 4.8rem;
}

.cat-form label,
.cat-form input,
.cat-form select {
    display: block;
    width: 100%;
}

.cat-form-group label {
    color: #45260a;
    font-size: 1.6rem;
}

.cta-form *:focus {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.4);
}

.cta-form input,.cta-form select {
    padding: 1.6rem 3.2rem;
    border-radius: 11px;
    border: none;
    font-size: 1.6rem;
}

.cta-form input::placeholder{
    color: #333333;
}

.cta-form select {
    padding: 1.6rem;
}

.btn--form {
    align-self: end;
}

.cat-form-group {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}